*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: darkgreen;
    text-align: center;
}
.container ul{
    display: inline-flex;
    list-style: none;
}
.container ul li{
    width: 150px;
    padding: 20px;
    margin: 5px;
}
.container ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.container ul li:hover{
    background-color: green;
    cursor: pointer;
} 
.container ul li i{
    margin-right: 10px;
    /* if u change icon colour
    color: rbg(000, 000, 000); */
}
.submenu-1{
    display: none;
}
.container ul li:hover .submenu-1{
    display: block;
    position: absolute;
    background-color: darkgreen;
    margin-top: 15px;
    margin-left: -20px;
}
.container ul li:hover .submenu-1 ul{
    display: block;
    margin: 10px;
}
.container ul li:hover .submenu-1 ul .bd{
    border-bottom: 2px solid white;
}
.container ul li:hover .submenu-1 ul li:last-child{
    border-bottom: none;
}
.submenu-1 ul li:hover, .submenu-1 ul li a:hover{
    color: white;
    font-size: 30px;
    font-weight: bold;
} 
.submenu-2{
    display: none;
}
.hover-me :hover, .submenu-2{
    border-radius: 20px;
    background-color: darkgreen;
    display: block;
    position: absolute;
    margin-left: 190px;
    margin-top: -40px;
}

 